body {
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 0px;
    text-align:center;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, Chrome, Edge, Opera
                                    and Firefox */
}

#container {
    width: 100%;
    height: 100%;
    display: block;
}
