body {
    font-family: Montserrat, sans-serif;
    text-rendering: optimizespeed !important;
    -webkit-font-smoothing: antialiased;
}

h3 {
    color: #3e3e3e;
}

blockquote {
    margin-inline-start: 0px;
    padding-inline-start: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left-style: solid;
    border-left-color: #404040;
    font-style: italic;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.article-list {
    list-style: none;
    padding-inline-start: 0;
}

.article-list li {
    box-shadow: 0.01rem 0.01rem .15rem rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
    max-width: 600px;
    padding: 1rem;
}

.article-list li a {
    color: inherit;
    text-decoration: none;
}

.article-list li:hover {
    background-color: #fafafa;
}

.header-nav-bar {
    align-items: center;
    border-bottom: solid 1px #f2f2f2;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
}

.header-nav-bar a {
    color: #3d3d3d;
    text-decoration: none;
}

.header-nav-bar a:hover {
    text-decoration: underline;
}

.content {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    max-width: 680px;
    width: 85%;
}

.content h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.85714em;
    line-height: 1.6em;
    color: rgb(50, 50, 159);
}

.content a:visited {
    color: blue;
}

.content p, .content blockquote {
    line-height: 24px;
}

.content p code {
    background-color: #efefef;
    border-radius: 3px;
    font-size: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

.content img {
    border-radius: 6px;
}

.p-16px {
    padding: 16px;
}

.ta-center {
    text-align: center;
}

.w-50px {
    width: 50px;
}

.w-50 {
    width: 50%;
}
