body {
    background-color: #f0eded;;
    color: #4723D9;
    letter-spacing: 0.05em;
    font-family: sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, Chrome, Edge, Opera
                                    and Firefox */
}
